@import url(//fonts.googleapis.com/earlyaccess/hanna.css);


body {
  font-family: 'Hanna', fantasy;
  background-color: #ffffff;
	box-sizing: border-box;
}

.file-upload {
	width: 350px;
	padding: 3% 3%;
    margin: 0 auto;
    border-radius: 5px;
    border: solid 4px #2E2E2E;
    background-color: #EFFBFB;
}
.file-upload-btn {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 6px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}
#loading {
  display: none;
}

.file-upload-input {
  position: absolute;
  font-size: 0.4rem;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
    width: 60%;
    margin: 5% auto;
    position: relative;
    object-fit: contain;
    background-color: #EFFBFB;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #EFFBFB;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  font-size: 0.8rem;
  color: #000000;
}

.drag-text {
 text-align: center;
}

.drag-text h3 {
  font-weight: 500;
  text-transform: uppercase;
}
.clickimg{
	width: 30%;
}
.file-upload-image {
  max-height: 60%;
  max-width: 60%;
  margin: auto;
  padding: 10px;
}

.try-again-btn {
  border-radius: 40px;
  border: solid 1.5px #35465d;
  background-color: #35465d;
}

.try-again-text {
  display: block;
  font-size: 0.8rem;
  text-align: center;
  color: #ffffff;
  padding: 4px 15px;
}

.remove-image:hover {
  background: #6E6E6E;
	font-size: 0.8rem;
	  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.title {
	font-family: 'Hanna', fantasy;
	line-height: 1.68;
	font-size: 1.8rem;
	text-align: center;
	color: #1c1c1c;
}

.subtitle {
	font-family: 'Hanna', fantasy;
	line-height: 1.68;
	font-size: 1rem;
	text-align: center;
	color: #1c1c1c;
}

.result_title{
	margin-top: 2rem;
	font-size: 1rem;
	font-family: 'Hanna', fantasy;
	line-height: 1.68;
	text-align: center;
	color: #380B61;	
}
.result_message{
	font-size: 0.8rem;
	font-family: 'Hanna', fantasy;
	line-height: 1.68;
	text-align: center;
	color: #000000;	
}
.result_pp{
	font-size: 0.9rem;
	font-family: 'Hanna', fantasy;
	line-height: 1.68;
	text-align: center;
	color: #0B0B61;	
}
.noti{
	font-size: 0.8rem;
	font-family: 'Hanna', fantasy;
	line-height: 1.68;
	text-align: center;
	color: #000000;	
}
.remove-image {
  font-size: 0.5rem;
  border-radius: 40px;
  border: solid 1.5px #A4A4A4;
  background-color: #A4A4A4;
}
.loadingBar {
  position: center;
}
.loading-bar {
  display: inline-block;
  width: 3px;
  height: 10px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #3498db;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #c0392b;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #f1c40f;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #27ae60;
  animation-delay: .27s;
}
.ad{
	width : 320px;
	margin : 0 auto;	
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
#chartdiv {
	width	: 100%;
	height	: 500px;
}			

				
