@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #ffffff .hanna * {
		font-family: 'Hanna', fantasy;
	}
	line-height: 1;
}

.file-upload-content {
	display: none;
	text-align: center;
}

.file-upload-input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
}

.image-upload-wrap {
	margin-top: 20px;
	border: 4px dashed #1fb264;
	position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
	background-color: #1fb264;
	border: 4px dashed #ffffff;
}

.image-title-wrap {
	padding: 0 15px 15px 15px;
	color: #222;
}

.drag-text {
	text-align: center;
}

.drag-text h3 {
	font-weight: 100;
	text-transform: uppercase;
	color: #15824b;
	padding: 60px 0;
}

.file-upload-image {
	max-height: 200px;
	max-width: 200px;
	margin: auto;
	padding: 20px;
}
.container {
	max-width: 1100px;
	padding: 0 20px;
	margin: 0 auto;
}
.panel {
	margin: auto;
	max-width: 500px;
	text-align: center;
}
.button_outer {
	background: #EFF8FB;
	border-radius: 30px;
	text-align: center;
	display: inline-block;
	transition: 0.2s;
	position: relative;
	overflow: hidden; 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* outline: none;
    opacity: 0;
    cursor: pointer; */
}
.btn_upload {
    width: 60%;
    font-size: 3.5rem;
    line-height: 1.53;
    text-align: center;
	font-family: 'Hanna', fantasy;
    color: #000000;
    margin: 0 auto;
}
.btn_upload input {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	width: 100%;
	height: 105%;
	cursor: pointer;
	opacity: 0;
}
.file_uploading {
	width: 0%;
	height: 0px;
	margin-top: 0px;
	background: #ffffff
}
.file_uploading .btn_upload {
	display: none;
}
.file-upload {
	width: 70%;
	height: 60%;
    padding: 2% 1%;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 1.5px #EFF8FB;
    background-color: #EFF8FB;
	text-align: center;
}
.text-out {
	width: 70%;
    padding: 1% 1%;
    margin: 0 auto;
    background-color: #EFF8FB;
	text-align: center;
}
.uploaded_file_view {
	max-width: 300px;
	margin: 1px auto;
	text-align: center;
	position: relative;
	transition: 0.2s;
	opacity: 0;
	padding: 15px;
}
.file_remove {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: block;
	position: absolute;
	background: #aaa;
	line-height: 30px;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
	right: -15px;
	top: -15px;
}
.file_remove:hover {
	background: #222;
	transition: 0.2s;
}
.uploaded_file_view img {
	max-width: 60%;
}
.uploaded_file_view.show {
	opacity: 1;
}
.error_msg {
	text-align: center;
	color: #f00;
}

.nav-distance {
	padding: 2.1% 7.7%;
}
.navbar-light .navbar-brand {
	width: 350px;
	height: 100px;
	font-family: 'Hanna', fantasy;
	font-size: 2rem;
	line-height: 1.68;
	text-align: left;
	color: #1c1c1c;
}

.navbar-light .navbar-toggler {
	border-color: #ffffff;
}

.section {
	margin-top: 100px;
}

.title {
	font-family: 'Hanna', fantasy;
	line-height: 1.68;
	text-align: center;
	color: #1c1c1c;
}

.subtitle {
	font-family: 'Hanna', fantasy;
	line-height: 1.68;
	text-align: center;
	color: #1c1c1c;
}

.result_title{
	margin-top: 2rem;
	font-size: 1.8rem;
	font-family: 'Hanna', fantasy;
	line-height: 1.68;
	text-align: center;
	color: #380B61;	
}
.result_message{
	font-size: 1rem;
	font-family: 'Hanna', fantasy;
	line-height: 1.68;
	text-align: center;
	color: #000000;	
}

@media screen and (max-width: 600px) {
	html {
		font-size: 10px;
	}
	.navbar-brand {
		font-size: 1.2rem;
	}
}